.video-section {
    padding: 20px;
    background-color: #000;
  }
  
  .video-section h2 {
    color: #00ffdf;
    margin-bottom: 20px;
  }
  
  .videos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .video-card {
    margin: 20px;
    position: relative;
    text-align: center;
  }
 
  